.box1{
    height: 300px;
}
.button {
    border: none;
    color: violet;
    padding: 16px 32px;
    text-align: center;
    border-radius: 20px;
    display: inline-block;
    font-size: 25px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}
.teks{
    font-size: 40px;
}
.box2{
    width: 500px;
    height: 200px;
}
.box2 h2{
    font-size: 70px;
}
.box2 h4{
    opacity: 30%;
}
.box3{
    height: 50px;
    width:200px;
    border-radius: 20px;
}
.box3 h2{
    color:black;
    font-size: 27px;
    font-style: bold;
}
.box4{
    height:300px;
    margin-top: 90px;
}
.box5{
    height: 500px;
   
}
.box6{
    height:250px;
}
.teks1{
    font-size: 20px;
    font-family: 'Times New Roman';
}
